/* You can add global styles to this file, and also import other style files */
// body{
//     font-family: 'Dancing Script', cursive;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; display: flex; justify-content: center; align-items: center; 
     background: linear-gradient(253.65deg, rgb(240, 240, 255) 0%, rgb(255, 255, 255) 68.52%);
    }
